/*Background Image*/

.wrapper {background-image: url("homepageimages/flowerspixelart.jpg")}

/*Roboto Font*/

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Wrapper*/

.wrapper {background-color:white;
    width:100%; height: 100%px;
    margin:0 auto;
    border:2px solid black}

/*Nav Bar*/

.navbar {
  background-color: black;
  overflow: hidden;
    margin:10px;
    padding:10px
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: whitesmoke;
  color: black;
}


.navbar a.active {
  background-color: dimgrey;
  color: white;
}

/*Text Adjustments*/

h1 {font-size: 2.25em}

h2 {font-size: 1.35em}

p {font-size:1.15em}

.header, .subheader, p, a {color:white}

body {
    font-family: "Roboto", sans-serif;
}

.header, .subheader, p, li {text-align:center; width:1200px; margin:auto}

p {margin-top: .5em; margin-bottom:.5em}
/*List Style*/

li{list-style:none;}

li a {color:#c4d4ed;
    transition:.15s
}

li a:hover {color:deepskyblue}

.bottomstore {margin-bottom:.5em;}

/*Slider Margin*/

.slider {margin-top:1em;margin-bottom:1em}
