header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, Halvetica,sans-serif;
}

header {
    background: #fff;
    color: #000;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
    text-align: center
}

nav a {

    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background: #fff;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 7px 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}



.navbar {
  background-color: black;
  overflow: hidden;
    margin:10px;
    padding:10px
}

.navbar a {
  float: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: whitesmoke;
  color: black;
}

.navbar a.active {
  background-color: dimgrey;
  color: white;
}
